{%- set schemaHeadline = title or meta.siteName -%}
{%- set schemaDescription = discover.description or description or meta.siteDescription -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "{{ url }}",
    "headline": "{{ schemaHeadline | escapeJson | safe }}",
    "description": "{{ schemaDescription | escapeJson | safe }}",
    "image": "{{ meta.url }}{% if discover.image %}/assets/images/{{ discover.image }}{% else %}{{ meta.opengraph_default }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.author.name }}",
      "url": "{{ meta.url }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ meta.author.name }}"
    },
    "datePublished": "{{ date | toIsoString }}"
  }
</script>
